<h1>Groups#new</h1>
<div class="row">
  <div class="offset2 span8">
    <%= form_for (@group) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= label_tag :tags, 'Tags' %>
        <%= text_field_tag :tags %>
        <%= f.label :public, 'Is group public?' %>
        <%= f.check_box :public %>
        <div class="container" style="margin-top: 5px;">
            <%= f.submit 'Create!', :class => 'btn btn-large btn-primary' %>
        </div>
    <% end %>
  </div>
  <div class="offset2"></div>
</div>