<!DOCTYPE html>
<html>
<head>
  <title>AnnDiploma</title>
  <%= stylesheet_link_tag   "custom", :media => "all" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render 'layouts/header' %>
<% unless controller_name=='static_pages' and action_name=='welcome' %>
<div class="container logo-small"></div>
    <% end %>
<div class="container body-container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>


</div>
</body>
</html>
